@import "tailwindcss";

*{
    font-family:cursive
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #030712;
}

:root{
    --c1: #0C2C55;
    --c2: #296374;
    --c3: #629FAD;
    --c4: #EDEDCE;
}

#title{
    background: linear-gradient(transparent, black);
}
